/* Image de fond */
#monde{
	width: 100vw;
	height: 100vh;
	position: absolute;
	overflow: none;
	margin: 0px;
	padding: 0px;
	left: 0px;
	top: 0px;
	user-select: none;
	background-image: url("../img/background.jpg");
	background-repeat: repeat;
	background-size: 120%;
	border: none;
}

@keyframes tourne{
	100%{transform: rotateZ(360deg);}
}
	

/* Le vaisseau */
#starship{
	height: 55px;
	width: 115px;
	position: absolute;
	left: 38%;
	top: 44%;
	background-image: url("../img/starship.png");	
	background-size: 100% 100%;
	z-index: 10;
}

/* Les asteroids */
.asteroid{
	height: 54px;
	width: 54px;
	position: absolute;
	left: 68%;
	top: 68%;
	background-image: url("../img/asteroid.png");
	background-size: 100% 100%;
	z-index: 9;
	animation: tourne 1s linear infinite;
}

